# Gradle
.gradle/
build/

# CDS compiler output
gen/

# Node
node_modules/
package-lock.json

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

*.log

# MTA build output
mta_archives/
*.mtar
.mta/
